body{
color: white;
background-color: black;
}

h1{background-color: darkslategray;
   text-align: center;}

a{text-decoration: none;
  color: blue;
  background-color: black;
  border-radius: 30%
  }

a:hover {
    color:red;
    text-decoration:underline;
    transition: 1s all;
    cursor: pointer;
    font-size: 23px;
}

.copyrilght{
margin-top: 100%;
text-align: center;
}

.pro{
  text-align: center;
  background-color:darkslategray;
}