body{
color: rgb(146, 146, 146);
background-color: black;
}

h1{text-align: center;
   font-size: 30px;}

a{text-decoration: none;
  color: rgb(132, 132, 132);
  padding: 20px;
  }

a:hover {
    color: rgb(195, 195, 195);
    text-decoration:underline;
    cursor: pointer;
    font-size: 15px;
}   
.copyrilght{
text-align: center;
}
.pro{
  text-align: center;
}
button{
  border-color: rgb(48, 47, 47);
  background-color: rgba(60, 60, 60, 0.56);
  padding: 10px;
}